:root {
  --color-darkest:#0d0d0d;
  --color-dark:#3a4039;
  --color-medium:#535951;
  --color-light:#8c8979;
  --color-lightest:#bfbdb0;
}

body {
  background: var(--color-dark);
  color: var(--color-darkest);
  font-family: helvetica, arial, sans-serif;
  font-size: x-large;
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

header {
  border-radius: 2vh 2vh 0 0;
}

header, main, footer {
  width: 50vw;
  max-width: 1024px;
  background: #fefae0;
  margin: 0 auto;
  padding: 1em 3em;
  filter: drop-shadow(2vw 2vw 0 var(--color-light));
}

footer {
  border-radius: 0 0 2vh 2vh;
  margin-bottom: 5vh;
}

@media (max-width: 1000px) {
  body {
    font-size: large;
  }
  main figure {
    max-width: 33vw;
  }
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
header.page-title {
}
header nav {
  text-align: right;
}
header hr {
  grid-column-start: 1;
  grid-column-end: 3;
}

main {
  flex: 1;
}

hr {
  width: 90%;
  border-top-color: var(--color-darkest);
  border-bottom-color: var(--color-dark);
}

a:link, a:focus, a:active {
  text-decoration: underline;
  color: var(--color-medium);
}

a:visited {
  text-decoration: underline;
  color: var(--color-dark);
}

a:hover {
  text-decoration: underline;
  color: var(--color-light);
}

p {
  margin-bottom: 2em;
}

footer hr {
  margin-bottom: 2em;
}

.page-title {
  padding: 0;
  margin: 0;
}
.page-title a:link, 
.page-title a:visited, 
.page-title a:focus, 
.page-title a:active {
  text-decoration: none;
  color: var(--color-dark);
}
.page-title a:hover {
  text-decoration: underline;
  color: var(--color-medium);
}

.table-o-contents ul {
  list-style: none;
  padding-left: 0;
}
.table-o-contents a:link,
.table-o-contents a:visited,
.table-o-contents a:focus,
.table-o-contents a:active {
  text-decoration: none;
  color: var(--color-dark);
}
.table-o-contents a:hover {
  text-decoration: underline;
  color: var(--color-medium);
}

.blog-list {
}
.blog-list a:link,
.blog-list a:visited,
.blog-list a:focus,
.blog-list a:active {
  text-decoration: none;
  color: var(--color-dark);
}
.blog-list a:hover {
  text-decoration: underline;
  color: var(--color-medium);
}

.project-list {
  list-style-type: circle;
}
.project-list a:link,
.project-list a:visited,
.project-list a:focus,
.project-list a:active {
  text-decoration: none;
  color: var(--color-dark);
}
.project-list a:hover {
  text-decoration: underline;
  color: var(--color-medium);
}

.fig-256 {
  width: 256px;
  display: flex;
  flex-flow: column;
  border: thin #cccccc solid;
  padding: 0.5em;
}
.fig-256 > img {
  width: 100%;
}
.fig-256 figcaption {
  font-style: italic;
  font-size: medium;
}

.fig-right {
  float: right;
}

blockquote {
  font-style: italic;
}
blockquote p::before {
  font-size: 200%;
  content: '\201C';
  display: block;
}
blockquote p::after {
  font-size: 200%;
  content: '\201D';
  display: block;
  text-align: right;
}
