body {
  background: #eeeeee;
  color: #333333;
  font-family: helvetica, arial, sans-serif;
  font-size: x-large;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
.content {
  background: #e8e8e8;
  min-height: 100%;
  max-width: 1024px;
  padding: 0 1em 0 1em;
}

.spaceship {
  width: 100%;
  height: 1em;
  display: block;
  padding: 0;
  margin: 0;
}
*/

header, main, footer {
  width: 75vw;
  max-width: 1024px;
  background: #e8e8e8;
  margin: 0 auto;
  padding: 1em;
}

@media (max-width: 1000px) {
  body {
    font-size: large;
  }
  main figure {
    max-width: 33vw;
  }
}

main {
  flex: 1;
}

hr {
  width: 90%;
}

a:link, a:focus, a:active {
  text-decoration: underline;
  color: #0071bc;
}

a:visited {
  text-decoration: underline;
  color: #4c2c92;
}

.page-title {
  padding: 0;
  margin: 0;
}
.page-title a:link, 
.page-title a:visited, 
.page-title a:focus, 
.page-title a:active {
  text-decoration: none;
  color: #333333;
}
.page-title a:hover {
  text-decoration: underline;
  color: #444444;
}

.table-o-contents ul {
  list-style: none;
  padding-left: 0;
}
.table-o-contents a:link,
.table-o-contents a:visited,
.table-o-contents a:focus,
.table-o-contents a:active {
  text-decoration: none;
  color: #333333;
}
.table-o-contents a:hover {
  text-decoration: underline;
  color: #444444;
}

.blog-list {
}
.blog-list a:link,
.blog-list a:visited,
.blog-list a:focus,
.blog-list a:active {
  text-decoration: none;
  color: #333333;
}
.blog-list a:hover {
  text-decoration: underline;
  color: #444444;
}

.project-list {
  list-style-type: '» ';
}
.project-list a:link,
.project-list a:visited,
.project-list a:focus,
.project-list a:active {
  text-decoration: none;
  color: #333333;
}
.project-list a:hover {
  text-decoration: underline;
  color: #444444;
}

.fig-256 {
  width: 256px;
  display: flex;
  flex-flow: column;
  border: thin #cccccc solid;
  padding: 0.5em;
}
.fig-256 > img {
  width: 100%;
}
.fig-256 figcaption {
  font-style: italic;
  font-size: medium;
}

.fig-right {
  float: right;
}
