body {
    color: #ddd;
    background-color: #333;
    font-family: Hack, monospace;
    font-size: medium;
    min-width: 40ch;
    max-width: 80ch;
    margin: 1em auto;
}

a:link, a:visited {
    color: #fff;
}

a:hover {
    color: #333;
    background-color: #ddd;
}

footer {
    margin: 1em 0;
}

pre, code {
  font-family: Hack, monospace;
}

/* only inline code */
code.highlighter-rouge {
  background: #404840;
  color: #d0d8d0;
  border-radius: 4px;
  padding: 0 0.5em;
}

hr {
  border-bottom: 1px solid #444;
  border-top: 1px solid #222;
  border-left: 0;
  border-right: 0;
}

/* constrain big images to page width */
img[src*="#fit"] {
  width: 100%;
}

/* always center images */
img {
  display: block;
  margin: 0 auto;
}
